body{
	margin: 0;	
	
}

#header{
	width: 100%;
	height: 600px;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
}
#nav{
	position: absolute;
	width: 100%;
	height:	60px;
	background-color: white;
   
}
#logo{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}
#logo_text{
	position: absolute;
	display: inline;
	left: 60px;
	font-size: 20px;
	font-family: sans-serif;
	color: black;
	font-weight: bold;
}
#host_link{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	float: right;
	margin: 12px;
	border: 1px solid black;	
	padding: 5px;
	border-radius: 2px;
}
#host_link:visited{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	
}
#host_link:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#help_link {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	float: right;
	margin: 12px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 2px;	
}
#help_link:visited{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
#help_link:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#login_link{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	float: right;
	margin: 12px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 2px;
}
#login_link:visited{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
#login_link:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#signup_link {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	float: right;
	margin: 12px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 2px;
}
#signup_link:visited{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
#signup_link:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#welcome_text_div{
	position: absolute;
	width:800px;
	height: 300px;
	top: 5%;
	margin-left: 285px;
}
#welcome_text{
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 55px;
	text-align: center;
}
#welcome_under_text{
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: -50px;
}
#how_it_works:link{
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	left: 60%;
	margin-left: -160px;
	
}
#how_it_works:visited{
	font-family: sans-serif;
	color: white;
	text-decoration: none;
}
#how_it_works:hover{
	background-color: rgba(0, 0, 0, 0.5)
}
